@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary-color: #f1c40f;
    --secondary-color: #e74c3c;
    --text-color: #555555;
    --bg-color: #f4f4f4;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 60px;
    width: 100%;
    max-width: 1600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    padding: 0 20px;
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    z-index: 10;
}

.main-logo a {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Shrikhand', serif, sans-serif;
    color: var(--primary-color);
    letter-spacing: 1.2px;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    height: 100%;
    width: 400px;
}

.nav-items a {
    color: #fff;
}

.nav-item a:hover {
    color: var(--primary-color);
    transition: all 0.8s ease;
}

/* underline grow on hover animation for navbar items  */
.nav-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.5s;
}

.nav-item a:hover::after {
    width: 100%;
}

.nav-items ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.btn {
    background-color: #00ff00ac;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #00ff0085;
    transition: all 0.5s ease;
}

.menu-icon{
    display: none;
}

.main-content {
    width: 100%;
    max-width: 1600px;
    min-height: 84vh;
    max-height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.main-heading {
    font-size: 2.2rem;
    padding: 16px 0;
    align-self: start;
}

.container {
    padding: 10px 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-auto-rows: minmax(250px, auto);
}

.post-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: min(460px, 100%);
    transition: transform 0.3s;
    padding: 15px;
}

.post-card:hover {
    transform: translateY(-5px);
}

.card-image {
    width: 100%;
    height: 80px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.post-card h2 {
    font-size: 1.3em;
    color: var(--primary-color);
    margin: 8px 0;
}

.post-card p {
    font-size: 0.9em;
    color: var(--text-color);
    margin: 10px 0;
}

.readMore {
    font-size: 0.8em;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.actions {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 5px;
}

.actions a {
    font-size: 0.78em;
    font-weight: bold;
    padding: 6px 12px;
    color: #fff;
    border-radius: 20px;
    letter-spacing: 1px;
    font-weight: light;
}

#actionEdit {
    background-color: var(--text-color);
}

#actionDelete {
    background-color: var(--secondary-color);
}

#actionEdit:hover {
    background-color: black;
}

#actionDelete:hover {
    background-color: red;
}

footer {
    background-color: var(--text-color);
    color: #fff;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 1600px;
    font-size: 14px;
}

/* Blog Form Style */
.contact-form-container,
.form-container {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-heading {
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: center;
}

.form-label {
    font-size: 1em;
    color: var(--text-color);
    margin-top: 15px;
    display: block;
}

.image-input,
.title-input,
.content-input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}


.content-input {
    resize: vertical;
}

.publish-button {
    width: 100%;
    padding: 12px;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.publish-button:hover {
    background-color: red;
}

/* Blog Page Style */

.blogPage-heading {
    align-self: flex-start;
    margin-bottom: 20px;
}

.blogPage-content {
    align-self: flex-start;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-profile{
    height: 200px;
    border-radius: 50%;
    width: 200px;
    object-fit: cover;
    margin: 20px 0;
}

.about-content {
    width: 600px;
}


/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    .nav-items ul {
        display: none;
    }

    .open {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: #333;
        color: #fff;
        transition: left 0.3s ease;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
    }

    .nav-items{
        gap: 10px;
    }

    .nav-items .btn {
        font-size: 14px;
        padding: 8px 14px;
    }

    .menu-icon{
        display: block;
        height: 32px;
        width: 32px;
    }

    .container {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        grid-gap: 10px;
    }

    .post-card {
        width: 90%;
        margin: auto 20px;
        padding: 10px 15px;
    }

    .post-card h2 {
        font-size: 1em;
        margin: 0;
    }

    .post-card p {
        font-size: 0.6em;
        margin: 5px 0;
    }

    .readMore {
        font-size: 0.65em;
    }

    .actions a {
        font-size: 0.65em;
        padding: 5px 10px;
    }

    .form-label{
        margin-top: 5px;
    }

    .form-container .image-input,
    .form-container .title-input,
    .form-container .content-input {
        margin-bottom: 5px;
    }

    .blogPage-heading {
        margin-bottom: 16px;
        font-size: 1.8em;
    }
}

/* Media Query for Tablet Devices */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-gap: 12px;
    }

    .post-card h2 {
        font-size: 1.1em;
        margin: 0;
    }

    .post-card p {
        font-size: 0.7em;
        margin: 8px 0;
    }

    .readMore {
        font-size: 0.7em;
    }

    .actions a {
        font-size: 0.7em;
        padding: 5px 10px;
    }
}