<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Blog WebApp</title>
</head>

<body>
  <header class="header">
    <p class="main-logo"><a href="/">B.LOG</a></p>
    <nav class="nav-items">
      <ul>
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
        <li class="nav-item"><a href="/contact">Contact</a></li>
      </ul>
      <a href="/posts/new" class="btn">New Blog</a>
      <img src="/icons/menu-icon.svg" alt="hamburger menu icon" class="menu-icon" onclick="toggleMenu()">
        </nav>
  </header>
  <main class="main-content">