body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-shadow: 1px 1px 4px black;
    flex-direction: column;
    gap: 40px;
    background-size: cover;
    background-position: center;
}

.fact-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
}

.cat-fact {
    font-size: 1.5em;
}

.refresh-btn a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #ff0000;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.refresh-btn a:hover {
    background: #bf0000;
}