    <script>
        function openPopup(id1) {
            document.getElementById(id1).style.display = "flex";
        }
        function closePopup(id2) {
            document.getElementById(id2).style.display = "none";
        }
    </script>
</body>
</html>